
@{
   
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SearchDict</title>
</head>
<body>
    <div>
         <p> @ViewBag.DicTime</p>
        <p>@ViewBag.DicStopWatch</p>
    </div>
</body>
</html>
