
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Search</title>
</head>
<body>
    <div>
        <p> @ViewBag.Time</p>
        <p>@ViewBag.StopWatch</p>
      
    </div>
</body>
</html>
